.clock-container {
  min-height: 100vh;
  padding: 4%;
}

.clock-container header {
  text-align: center;
  margin-bottom: 2em;
}

.clock-container header h1 {
  margin: 0;
  padding: 0;
}

.settings {
  display: flex;
  justify-content: space-evenly;
  margin: 2.5em 3em 0.5em 3em;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

footer a {
  color: #d19494;
  text-decoration: none;
}


@media (max-width: 450px) {
  .clock-container {
    padding: 10% 8%;
  }

  .clock-container header {
    margin-bottom: 0.5em;
  }

  .settings {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
